.header__username {
    color: white;
}

.header__button {
    margin-left: 8px;
}

@media screen and (max-width: 600px) {
    .header__username {
        display: none;
    }
}

@media screen and (max-width: 390px) {
    .header__button {
        margin: 8px;
        margin-left: 0;
    }
}